{% extends "templates/base/base.htm" %}
{% import "templates/base/uitools.htm" as forms %}



{% block title %}TuxLog{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    {% call forms.record_form( table, id ) %}

    {% call forms.row() %}
        {% call forms.input('id', 'NodeID', 'Node ID', data['id'], disabled=True ) %}
        {% endcall %}
    {% endcall %}

    {% call forms.row() %}
        {% call forms.input('name', 'Name', '', data['name'] ) %}
        {% endcall %}
    {% endcall %}

    {% call forms.row() %}
        {% call forms.input('last_heard_on', 'Last heard', '', data['last_heard_on'],disabled=True ) %}
        {% endcall %}
    {% endcall %}

    {% call forms.row() %}
        {% call forms.input('last_error_code', 'Last Error Code', '', data['last_error_code'], disabled=True ) %}
        {% endcall %}
    {% endcall %}

    {% call forms.row() %}
        {% call forms.input('ip_address', 'IP Address', '', data['ip_address'], disabled=True ) %}
        {% endcall %}
    {% endcall %}

    {% call forms.row_form_group() %}
        {% call forms.data_select('status_id','Status', data['status_id'], 'iot_node_status', 'default','%') %}
        {% endcall %}
    {% endcall %}

    {% call forms.row_form_group() %}
        {% call forms.data_select('location_id','Location', data['location_id'], 'iot_location', 'default','%') %}
        {% endcall %}
    {% endcall %}

    {% call forms.row() %}
        {% call forms.input_multiline('display_template', 'Display Template', '', data['display_template'], disabled=False ) %}
        {% endcall %}
    {% endcall %}



    {% endcall %}

{% endblock %}




