{% extends "templates/base/base.htm" %}
{% import "templates/base/uitools.htm" as forms %}



{% block title %}TuxLog{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    {% call forms.record_form( table, '' ) %}

    {% call forms.row() %}
        {% call forms.input('id', 'NodeID', 'Node ID', '' ) %}
        {% endcall %}
    {% endcall %}

    {% call forms.row() %}
        {% call forms.input('name', 'Name', '', '' ) %}
        {% endcall %}
    {% endcall %}

    {% call forms.row_form_group() %}
        {% call forms.data_select('status_id','Status', '', 'iot_node_status', 'default','%') %}
        {% endcall %}
    {% endcall %}

    {% endcall %}

{% endblock %}




